@import "../colors.scss";

.settings-view {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;

  &__text {
    font-family: "Roboto";
    font-size: 1.8rem;
    color: $midnight;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 3.6rem;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    filter: grayscale(100%);

    &:first-of-type {
      margin-right: 1rem;
    }

    &--yarn {
      transform: translateY(0.7rem);

      &:hover {
        transform: translateY(0.7rem) scale(1.1);
        filter: grayscale(0);
      }
    }

    &--npm {
      transform: translateY(0.4rem);

      &:hover {
        transform: translateY(0.4rem) scale(1.1);
        filter: grayscale(0);
      }
    }

    &--active {
      filter: grayscale(0);
    }
  }

  &__or {
    display: inline-block;
    margin-right: 1rem;
  }
}